body {
  margin: 0;
  font-family: Arial;
  background: black;
  color: white;
}

/* ADMIN */
.panel {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

input, select, button {
  padding: 10px;
  font-size: 14px;
}

/* SCREEN */
#pantalla {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

img, video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}